<%- include('../partials/head.ejs') %>

<main class="dashboard-wrapper">
  <aside>
    <div class="lead-img-wrapper">
        <img class="lead-img" src="http://animals.sandiegozoo.org/sites/default/files/2016-10/owl_southern_white_faced.jpg" alt="">
    </div>
    <div class="senior-details">
        <h2><span class="lead-name">Joost Joostens</span></h2>
        <p><span class="lead-role">Senior Developer</span></p>
        <p>Status:<br>
             <span class="lead-status available">Beschikbaar</span>
        </p>
    </div>
  </aside>
  <section>
    <h1>
        Queue dashboard
    </h1>
    <ul class="queue-list">
      <li class="queue-item"><img src="" class="junior-img">
          <span>
              1
          </span>
          Jim
      </li>
      <li class="queue-item"><img src="" class="junior-img red">
          <span>
              2
          </span>
          Jane
      </li>
      <li class="queue-item"><img src="" class="junior-img purple">
          <span>
              3
          </span>
          Kim
      </li>
      <li class="queue-item"><img src="" class="junior-img">
          <span>
              4
          </span>
          Shane
      </li>
    </ul>


  </section>
</main>

<%- include('../partials/foot.ejs') %>
