 <%- include('./partials/head.ejs') %>

<div class="container">
  <h1>Welcome to Islands</h1>
  <div class="form-block">
    <!-- <img class="logo" src="img/island.png" alt=""> -->
    <a class="login-btn" href="/account">Login</a>
    <a href="/account/register">Maak een nieuw account aan</a>
  </div>
</div>


<%- include('./partials/foot.ejs') %>
